# Auto-detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicitly declare text files
*.cs text diff=csharp
*.csproj text diff=csharp
*.sln text
*.razor text
*.css text diff=css
*.js text
*.json text
*.md text
*.yml text
*.yaml text
*.sh text eol=lf

# Scripts should be executable
*.sh eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.exe binary
*.snupkg binary
*.nupkg binary

# Visual Studio and Git
.gitattributes export-ignore
.gitignore export-ignore
.editorconfig export-ignore
